  header nav img {
    width: 300px;
  }
  .logo {
    width: 300px;
  }

main {
  color: gainsboro;
  margin: 0 auto;
  max-width: 1001px;
  min-height: 300vh;
  display: grid;
  grid-template-columns: 200px 1fr 200px 1fr;
  grid-template-rows: 150px
    100px
    350px
    100px
    100px
    200px;
  grid-template-areas:
  "my-header my-header my-header my-header"
  "my-nav my-nav my-nav my-nav"
  "my-serv my-serv my-serv my-serv"
  "my-menu my-menu my-menu my-menu"
  "my-footer my-footer my-footer my-footer"
    
}

@media (min-width: 300px) and (max-width: 1000px) {
    main {
      grid-template-columns: 200px 1fr 200px 1fr;
      grid-template-rows: 150px
      100px
      350px
      100px
      100px
      200px;
      grid-template-areas:
        "my-header my-header my-header my-header"
        "my-nav my-nav my-nav my-nav"
        "my-serv my-serv my-serv my-serv"
        "my-menu my-menu my-menu my-menu"
        "my-footer my-footer my-footer my-footer"
    }
  }
@media (min-width: 1001px) {
    main {
      grid-template-columns: 200px 1fr 200px 1fr 1fr;
      grid-template-rows: 150px
      350px
      100px
      100px
      200px;
      grid-template-areas:
      "my-header my-header my-nav my-nav my-nav"
      "my-serv my-serv my-serv my-serv my-serv"
      "my-menu my-menu my-menu my-menu my-menu"
      "my-footer my-footer my-footer my-footer my-footer"
    }
  }
 
header {
  grid-area: my-header;
  background: white
  width: 100%;
  z-index: 100;
}
 
nav {
  grid-area: my-nav;
  background-color: white;
  float: right;
  text-align: center;
}

nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 18px;
  }

  nav ul li a {
    display: block; 
    padding: 18px;
    color: #7a163c;
    text-decoration: none;
  }

  nav ul li:hover {
    background: #f0a2cf;
  }



    
    section#servicios {
        grid-area: my-serv;
        background-color: #c9f1fd;
        color: #bb285c;
      }
      
      section#servicios h2 {
        color: white;
      }

      section#servicios h3 {
        font-size: 20px;
        text-align: center;
        color: #bb285c;
      }

      section#servicios h4 {
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
      }

      section#servicios p {
        font-size: 15px;
        text-align: center;
        color: #bb285c;
      }
    
      section#servicios article {
        margin-bottom: 25px;
      }

      .img-icono {
        width: 100px;
        height: 105px;
        border-radius: 50%;
        align-items: center;
      }

      section.estilo-seccion {
        padding: 64px 50px;
        text-align: center;
      }

      footer {
        grid-area: my-footer;
        background-color: #f2c9fb;
        color: #00a4d3;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;;
        font-size: 15px;
      }
      
      
      
        section#menu {
          grid-area: my-menu;
          background-color: #f2c9fb;
          float:center;
       }
        
        section#menu ul {
            list-style: none;
            overflow: hidden; 
            float: center;
          }
          
          section#menu ul li {
            float: left;
            font-family: Arial, Helvetica, sans-serif;;
            font-size: 18px;
          }
        
          section#menu ul li a {
            display: block; 
            padding: 18px;
            color: #00a4d3;
            text-decoration: none;
          }
        
          section#menu ul li:hover {
            background: #f0a2cf;
          }
      